body, h1 {
    font-family: "Raleway", sans-serif
}
.home-page {
    height: 100%;
}
.bgimg {
    background: url("../images/sea1.jpg") center;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
