body, h1 {
    font-family: "Raleway", sans-serif
}
.home-page {
    height: 100%;
}
.span-center{
    text-align: center;
}
.footer-adm{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.h1-center{
    text-align: center;
    color: #0879b2;
    font-size: 40px;
    font-weight: 800;
    line-height: 72px;
    margin: 50px 0 24px;
}
.inline-buttons .button {
    margin-left: 15px;
    margin-right: 15px;
}
.inline-buttons {
    display: table;
    margin: 100px auto;
}
@media only screen and (max-width: 960px) {
    .inline-buttons .button{
        width: 100%;
        margin: 20px;
        text-align: center;
    }
}
.ph-button {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 19px 39px 18px;
    font-size: 18px;
}
.ph-btn-blue {
    border-color: #0d81bc;
    background-color: #0e8ccc;
}
.ph-btn-red {
    border-color: #890808;
    background-color: #c61313;
}
.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background-color: #ea7900;
    border-color: #ba6912;
}
.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #00c4b0;
    border-color: #2696a0;
}
.ph-btn-blue:disabled{
    background-color: #a9d1e8;
    border-color: #5e7684;
    color: #000000;

}
.ph-container {
    margin: 0 auto;
    display: inline;
}
.ph-float {
    float: left;
    width: 22%;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
}
.ph-clear {
    clear: both;
}
